@import '../../../variables.scss';

.user-list {
  color: $color-black;

  h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 8%;
    margin-bottom: 30px;
  }

  .modal-create {
    text-align: center;
    margin-bottom: 30px
  }

  .user {
    margin: 4%;
  }

  .v-expansion-panel-header--active {
    font-weight: 600;
    font-size: 1.2em;
  }

  .actions {
    display: flex;
    #button-fab {
      background-color: $color-blue;
      .v-icon {
        color: $color-white;
      }
    }
  }

  .button-view {
    margin-right: 10px;;
  }

  @include breakpoint-large {
    .user {
      margin: 8%;
    }
  }
}

