<div class="user-list">
  <h1>Users</h1>

  <modal class="modal-create" @update-users="showUsers" />
  
  <div class="user">
    <v-expansion-panels focusable popout>
      <v-expansion-panel
        v-for="user of users"
        :key="user.id"
      >
      <v-expansion-panel-header disable-icon-rotate>{{user.firstName}} {{user.lastName}}
        <template v-slot:actions>
          <div class="actions">
            <v-btn class="button-view" color="warning" 
              fab small dark
            >
              <v-icon>mdi-eye</v-icon>
            </v-btn>

            <modal @click.native.stop @update-users="showUsers" :user="user" />
          
            <v-btn color="warning" fab small dark
              @click.native.stop="deleteUser(user.id)">
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </div>
        </template>
      </v-expansion-panel-header>
  
      <user-detail :user="user"></user-detail>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</div>