<div>
  <transition name="modal">
    <div v-if="isOpen">
      <div class="overlay" @click.self="close">
        <div class="modal">
          <UserForm @modal-user-success="updateUserList" @close-modal="close" :user="user"/>
        </div>
      </div>
    </div>
  </transition>
  <div v-if="user">
    <v-btn id="modal-button" class="edit" @click="open" fab small dark
    >
      <v-icon>mdi-account-edit</v-icon>
    </v-btn>
  </div >
  <div v-else>
    <v-btn id="modal-button" @click="open">New User</v-btn>
  </div>
</div>